h1{
    color:#ff0000;
    border:solid;
    margin:30px;
}

.header{
    background-color: #808080;
    display:flex;
    justify-content: space-between;
    margin-right: 30px;
}
.games{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.social{
    display: flex;
    justify-content: flex-end;
}
h2,p{
    text-align: center;
    }
    .inst h2{
        display: flex;
        justify-content: center;
    }
    a:link{
        color:pink;
    }
    a:visited{
        color:pink;
    }
    .item{
        position:relative;
    }
    .item p{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        opacity: 0;
    }
    .item:hover p{
        opacity: 1;
    }
    .item:hover img{
        transform: scale(1.3);
        
    }